.form-card-1 {

    position: absolute;
    margin: 200px 0 0 0;
}

.form-card-2 {
    position: absolute;
    margin: 200px 0 0 0;
}

.invisible {
    visibility: collapse;
}

.visible {
    visibility: visible;
}

.card {
    background: rgba(0, 10, 30, 0.5); !important;
}

.btn {
    margin: auto;
    text-align: center;
}